In [248]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [249]:
engine = create_engine("postgresql://postgres:manager@10.0.6.3:5432/cbs", connect_args={'options': '-csearch_path={}'.format('cbs_emlak')})

In [250]:
con = engine.connect()

In [251]:
engine.table_names()

/var/folders/p1/mbkl10792jz1k5zgkw1zd_mh0000gn/T/ipykernel_2058/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['city',
 'district',
 'region_city',
 'neighbourhood',
 'region',
 'deed',
 'campus',
 'log',
 'type_spec',
 'file',
 'folder',
 'independent_section',
 'real_estate']

In [254]:
# Specify SQL query
query = "Delete FROM real_estate"

# Connect to database and execute query
with engine.connect() as con:
    pd.read_sql_query(query, con)

# Print out head of dataframe
#df.head()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [6]:
emlakverileri = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/emlakverileri.xlsx');
emlakverileri.head()

/Users/aliosmanyilmaz/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Web Extension extension is not supported and will be removed
  for idx, row in parser.parse():

,LocID,User,Project,Part,Lat,Long,Start,Stop,Facility Code,Hiyerarşi,...,Sütun7,HType,LStatus,PicInfo,LastFlag,LastTS,Region,Code8,Sütun8,Sütun9
0,20470,102,TCDD,FAZ-1,38.077677,30.208332,30/04/2021 13:41:41,30/04/2021 13:43:43,90000304,90000304,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-102-20210430134141,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
1,20471,101,TCDD,FAZ-1,38.077677,30.208332,30/04/2021 13:41:41,30/04/2021 13:47:47,90000304,90000304-90000320,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430134141,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
2,20485,101,TCDD,FAZ-1,38.07752252,30.2082382,30/04/2021 14:40:40,30/04/2021 14:50:50,90000304,90000304-90000320-90000194,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430144040,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
3,20488,101,TCDD,FAZ-1,38.0776306666667,30.2079466666667,30/04/2021 14:51:51,30/04/2021 14:52:52,90000304,90000304-90000320-90000194-90000188,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430145151,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
4,20487,101,TCDD,FAZ-1,38.0776306666667,30.2079466666667,30/04/2021 14:50:50,30/04/2021 14:51:51,90000304,90000304-90000320-90000194-90000380,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430145050,NaN,NaN,7.BÖLGE,NaN,NaN,NaN

In [13]:
#Şehirleri sql'e ekle

cities=["Adana", "Adıyaman", "Afyon", "Ağrı", "Amasya", "Ankara", "Antalya", "Artvin", "Aydın", "Balıkesir", "Bilecik", "Bingöl", "Bitlis", "Bolu", "Burdur", "Bursa", "Çanakkale", "Çankırı", "Çorum", "Denizli", "Diyarbakır", "Edirne", "Elazığ", "Erzincan", "Erzurum", "Eskişehir", "Gaziantep", "Giresun", "Gümüşhane", "Hakkari", "Hatay", "Isparta", "İçel (Mersin)", "İstanbul", "İzmir", "Kars", "Kastamonu", "Kayseri", "Kırklareli", "Kırşehir", "Kocaeli", "Konya", "Kütahya", "Malatya", "Manisa", "Kahramanmaraş", "Mardin", "Muğla", "Muş", "Nevşehir", "Niğde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdağ", "Tokat", "Trabzon", "Tunceli", "Şanlıurfa", "Uşak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kırıkkale", "Batman", "Şırnak", "Bartın", "Ardahan", "Iğdır", "Yalova", "Karabük", "Kilis", "Osmaniye", "Düzce"
]

cities = {'Name': cities}
cities = pd.DataFrame(cities)
cities.index += 1
cities

        Name
1      Adana
2   Adıyaman
3      Afyon
4       Ağrı
5     Amasya
..       ...
77    Yalova
78   Karabük
79     Kilis
80  Osmaniye
81     Düzce

[81 rows x 1 columns]

In [84]:
cities.to_sql('city',con=engine, if_exists='append', index_label='id')

81

In [105]:
#Regionları ekle

regions = emlakverileri["Region"].unique()
regions = {'name': regions}
regions = pd.DataFrame(regions)
regions.loc[len(regions.index)] = ['5.BÖLGE'] 
regions = regions.sort_values(by=['name']).dropna()
regions.reset_index(inplace=True)
regions = regions[["name"]]
regions.index += 1

regions

            name
1        1.BÖLGE
2        2.BÖLGE
3        3.BÖLGE
4        4.BÖLGE
5        5.BÖLGE
6        6.BÖLGE
7        7.BÖLGE
8  8.BÖLGE (YHT)
9    BASKENT RAY

In [106]:
regions.to_sql('region',con=engine, if_exists='append', index_label='id')

9

In [15]:
ilceler = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/il_ilceler.xlsx',sheet_name='Ilceler');
ilceler.index += 1
ilceler.to_sql('district',con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) HATA:  tekrar eden kayıt, "district_pk" tekil kısıtlamasını ihlal etmektedir
DETAIL:  "(id)=(1)" anahtarı zaten mevcut

[SQL: INSERT INTO district ("Name", city_id, id) VALUES (%(Name)s, %(city_id)s, %(id)s)]
[parameters: ({'Name': 'Seyhan', 'city_id': 1, 'id': 1}, {'Name': 'Ceyhan', 'city_id': 1, 'id': 2}, {'Name': 'Feke', 'city_id': 1, 'id': 3}, {'Name': 'Karaisalı', 'city_id': 1, 'id': 4}, {'Name': 'Karataş', 'city_id': 1, 'id': 5}, {'Name': 'Kozan', 'city_id': 1, 'id': 6}, {'Name': 'Pozantı', 'city_id': 1, 'id': 7}, {'Name': 'Saimbeyli', 'city_id': 1, 'id': 8}  ... displaying 10 of 970 total bound parameter sets ...  {'Name': 'Gümüşova', 'city_id': 81, 'id': 969}, {'Name': 'Kaynaşlı', 'city_id': 81, 'id': 970})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [16]:
ilceler = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/il_ilceler.xlsx',sheet_name='Ilceler');
ilceler = ilceler[["Name", "id"]]
ilceler["Name"] = ilceler["Name"].str.strip()
ilceler.index += 1
ilceler.head()

        Name  id
1     Seyhan   1
2     Ceyhan   2
3       Feke   3
4  Karaisalı   4
5    Karataş   5

In [17]:
mahalle = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/mahalle.xlsx');
mahalle.index += 1
mahalle["Name"] = mahalle["Name"].str.title()
mahalle = mahalle[["Name", "MAHALLE"]]
mahalle["Name"] = mahalle["Name"].str.strip()
mahalle

         Name                                            MAHALLE
1      Aladağ  AKPINAR MAH                                   ...
2      Aladağ  BAŞPINAR MAH                                  ...
3      Aladağ  MANSURLU MAH                                  ...
4      Aladağ  SİNANPAŞA MAH                                 ...
5      Aladağ  AKÖREN MAH                                    ...
...       ...                                                ...
73275  Merkez  TEPEBAŞI MAH                                  ...
73276  Merkez  TERAKKİ MAH                                   ...
73277  Merkez  YAYLA MAH                                     ...
73278  Merkez  YENİ MAH                                      ...
73279  Merkez  YEŞİL MAH                                     ...

[73279 rows x 2 columns]

In [18]:
mahalle = pd.merge(mahalle,ilceler,on='Name')
mahalle

         Name                                            MAHALLE   id
0      Aladağ  AKPINAR MAH                                   ...   12
1      Aladağ  BAŞPINAR MAH                                  ...   12
2      Aladağ  MANSURLU MAH                                  ...   12
3      Aladağ  SİNANPAŞA MAH                                 ...   12
4      Aladağ  AKÖREN MAH                                    ...   12
...       ...                                                ...  ...
30061   Kozlu  YENİ MAH (ÖRENCİK KÖYÜ)                       ...  887
30062   Kozlu  YUKARI İHSANİYE MAH (KOZLUKÖY KÖYÜ)           ...  887
30063   Kozlu  YUKARI MAH (AKŞEYH KÖYÜ)                      ...  887
30064   Kozlu  YUKARI MAH (ÇIRGAN KÖYÜ)                      ...  887
30065   Kozlu  YUKARI MAH (UZUNGÜNEY KÖYÜ)                   ...  887

[30066 rows x 3 columns]

In [19]:
mahalle = mahalle[["MAHALLE", "id"]]

In [20]:
mahalle = mahalle.rename(columns={'MAHALLE': 'name', 'id': 'district_id'})
mahalle.head()

                                                name  district_id
0  AKPINAR MAH                                   ...           12
1  BAŞPINAR MAH                                  ...           12
2  MANSURLU MAH                                  ...           12
3  SİNANPAŞA MAH                                 ...           12
4  AKÖREN MAH                                    ...           12

In [92]:
mahalle.to_sql('neighbourhood',con=engine, if_exists='append', index_label='id')

66

In [21]:
#region_city

region_city = emlakverileri[["City", "Region"]]
region_city = region_city.drop_duplicates()
region_city = region_city.reset_index()
region_city = region_city[["City", "Region"]]
region_city = region_city.rename(columns = {'City':'Name'})
region_city["Name"] = region_city["Name"].str.lower().str.upper()
region_city

              Name         Region
0   AFYONKARAHISAR        7.BÖLGE
1           ANKARA        2.BÖLGE
2           ANKARA    BASKENT RAY
3           ANKARA  8.BÖLGE (YHT)
4        BALIKESIR        7.BÖLGE
5        BALIKESIR        3.BÖLGE
6           BURDUR        7.BÖLGE
7            BURSA        7.BÖLGE
8          CANKIRI        2.BÖLGE
9          DENIZLI        7.BÖLGE
10         DENIZLI        3.BÖLGE
11       ESKISEHIR        7.BÖLGE
12       ESKISEHIR        2.BÖLGE
13       ESKISEHIR  8.BÖLGE (YHT)
14       ESKISEHIR        1.BÖLGE
15         ISPARTA        7.BÖLGE
16         KARABUK        2.BÖLGE
17         KAYSERI        2.BÖLGE
18         KAYSERI        4.BÖLGE
19       KIRIKKALE        2.BÖLGE
20       KIRIKKALE  8.BÖLGE (YHT)
21       KIRIKKALE            NaN
22        KIRSEHIR        2.BÖLGE
23           KONYA        7.BÖLGE
24           KONYA  8.BÖLGE (YHT)
25           KONYA        6.BÖLGE
26           KONYA            NaN
27         KUTAHYA        7.BÖLGE
28        NEVSEHIR        2.BÖLGE
29           NIGDE        2.BÖLGE
30           NIGDE        6.BÖLGE
31            USAK        3.BÖLGE
32          YOZGAT        2.BÖLGE
33          YOZGAT  8.BÖLGE (YHT)
34       ZONGULDAK        2.BÖLGE

In [22]:
#Şehirleri sql'e ekle

cities=["Adana", "Adıyaman", "Afyonkarahisar", "Agri", "Amasya", "Ankara", "Antalya", "Artvin", "Aydın", "Balikesir", "Bilecik", "Bingöl", "Bitlis", "Bolu", "Burdur", "Bursa", "Canakkale", "Cankırı", "Corum", "Denizli", "Diyarbakir", "Edirne", "Elazıg", "Erzincan", "Erzurum", "Eskisehir", "Gaziantep", "Giresun", "Gümüshane", "Hakkari", "Hatay", "Isparta", "icel (Mersin)", "istanbul", "izmir", "Kars", "Kastamonu", "Kayseri", "Kirklareli", "Kirşehir", "Kocaeli", "Konya", "Kutahya", "Malatya", "Manisa", "Kahramanmaras", "Mardin", "Mugla", "Mus", "Nevsehir", "Nigde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdag", "Tokat", "Trabzon", "Tunceli", "Sanlıurfa", "Usak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kirikkale", "Batman", "Sirnak", "Bartın", "Ardahan", "Igdır", "Yalova", "Karabük", "Kilis", "Osmaniye", "Düzce"
]

cities = {'Name': cities}
cities = pd.DataFrame(cities)
cities.index += 1

cities.reset_index(inplace=True)
cities = cities.rename(columns = {'index':'city_id'})
cities["Name"] = cities["Name"].str.lower().str.upper()
cities

    city_id            Name
0         1           ADANA
1         2        ADIYAMAN
2         3  AFYONKARAHISAR
3         4            AGRI
4         5          AMASYA
..      ...             ...
76       77          YALOVA
77       78         KARABÜK
78       79           KILIS
79       80        OSMANIYE
80       81           DÜZCE

[81 rows x 2 columns]

In [23]:
region_city = region_city.rename(columns={'City': 'Name'})
region_city = region_city.drop_duplicates()

In [24]:
region_city = pd.merge(cities,region_city,on='Name')

In [25]:
region_city

    city_id            Name         Region
0         3  AFYONKARAHISAR        7.BÖLGE
1         6          ANKARA        2.BÖLGE
2         6          ANKARA    BASKENT RAY
3         6          ANKARA  8.BÖLGE (YHT)
4        10       BALIKESIR        7.BÖLGE
5        10       BALIKESIR        3.BÖLGE
6        15          BURDUR        7.BÖLGE
7        16           BURSA        7.BÖLGE
8        18         CANKIRI        2.BÖLGE
9        20         DENIZLI        7.BÖLGE
10       20         DENIZLI        3.BÖLGE
11       26       ESKISEHIR        7.BÖLGE
12       26       ESKISEHIR        2.BÖLGE
13       26       ESKISEHIR  8.BÖLGE (YHT)
14       26       ESKISEHIR        1.BÖLGE
15       32         ISPARTA        7.BÖLGE
16       38         KAYSERI        2.BÖLGE
17       38         KAYSERI        4.BÖLGE
18       42           KONYA        7.BÖLGE
19       42           KONYA  8.BÖLGE (YHT)
20       42           KONYA        6.BÖLGE
21       42           KONYA            NaN
22       43         KUTAHYA        7.BÖLGE
23       50        NEVSEHIR        2.BÖLGE
24       51           NIGDE        2.BÖLGE
25       51           NIGDE        6.BÖLGE
26       64            USAK        3.BÖLGE
27       66          YOZGAT        2.BÖLGE
28       66          YOZGAT  8.BÖLGE (YHT)
29       67       ZONGULDAK        2.BÖLGE
30       71       KIRIKKALE        2.BÖLGE
31       71       KIRIKKALE  8.BÖLGE (YHT)
32       71       KIRIKKALE            NaN

In [26]:
regions.head()

      name
1  1.BÖLGE
2  2.BÖLGE
3  3.BÖLGE
4  4.BÖLGE
5  6.BÖLGE

In [27]:
region_city = pd.merge(region_city,regions,on='Name')

KeyError: 'Name'

In [1]:
regions = emlakverileri["Region"].unique()
regions = {'name': regions}
regions = pd.DataFrame(regions)
regions.dropna()
regions = regions.sort_values(by=['name']).dropna()
regions.reset_index(inplace=True)
regions = regions[["name"]]
regions.index += 1
regions

NameError: name 'emlakverileri' is not defined

In [37]:
facility.to_sql('campus',con=engine, if_exists='append', index_label='id')

391

In [33]:
#Type_Spec
typ = emlakverileri[["Type"]].drop_duplicates()
typ = typ.reset_index()
typ = typ[["Type"]]
typ = typ.rename(columns={'Type': 'name'})
typ.index += 1

typ

          name
1         0IST
2         0BIN
3          KAT
4         OFIS
5       KMRLUK
..         ...
140      RPPER
141  SNTRALODS
142       0TES
143      TRAFO
144  AKRYKTIST

[144 rows x 1 columns]

In [44]:
typ.to_sql('type_spec',con=engine, if_exists='append', index_label='id')

144

In [255]:
emlakverileri = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/emlakverileri.xlsx');

/Users/aliosmanyilmaz/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Web Extension extension is not supported and will be removed
  for idx, row in parser.parse():

In [256]:
building = emlakverileri[["Type", "Code", "ParentCode", "Region", "LocName","Hiyerarşi","City","FID","Ada","Parsel","TabanAlanı","ToplamİnşaatAlanı"]]
building.dtypes

campus = building[building["Hiyerarşi"].str.len() == 8]
real_estate = building[building["Hiyerarşi"].str.len() == 17]
independent_section = building[building["Hiyerarşi"].str.len() > 17]


campus = campus[["Region", "LocName"]]

campus

        Region           LocName
0      7.BÖLGE    KARAKUYU TESIS
45     7.BÖLGE  CAPALI TREN GARI
58     7.BÖLGE         TINAZTEPE
104    7.BÖLGE        YESILHUYUK
112    7.BÖLGE   SUTLAC ISTASYON
...        ...               ...
26225  2.BÖLGE       DERECIKOREN
26228  2.BÖLGE        HAVALIMANI
26230  2.BÖLGE         ISIKVEREN
26247  2.BÖLGE            FILYOS
26338  2.BÖLGE          GOKCELER

[359 rows x 2 columns]

In [257]:
regions = emlakverileri["Region"].unique()
regions = {'name': regions}
regions = pd.DataFrame(regions)
regions.loc[len(regions.index)] = ['5.BÖLGE'] 
regions = regions.sort_values(by=['name']).dropna()
regions.reset_index(inplace=True)
regions = regions[["name"]]
regions.index += 1
regions.reset_index(inplace=True)

regions

   index           name
0      1        1.BÖLGE
1      2        2.BÖLGE
2      3        3.BÖLGE
3      4        4.BÖLGE
4      5        5.BÖLGE
5      6        6.BÖLGE
6      7        7.BÖLGE
7      8  8.BÖLGE (YHT)
8      9    BASKENT RAY

In [258]:
campus_region = campus.merge(regions, left_on="Region", right_on="name", how="left")
campus_region = campus_region[["LocName", "index"]]
campus_region = campus_region.rename(columns={'LocName': 'name','index': 'region_id'})
campus_region.index += 1
campus_region

                 name  region_id
1      KARAKUYU TESIS          7
2    CAPALI TREN GARI          7
3           TINAZTEPE          7
4          YESILHUYUK          7
5     SUTLAC ISTASYON          7
..                ...        ...
355       DERECIKOREN          2
356        HAVALIMANI          2
357         ISIKVEREN          2
358            FILYOS          2
359          GOKCELER          2

[359 rows x 2 columns]

In [111]:
campus_region.to_sql('campus',con=engine, if_exists='append', index_label='id')

359

In [259]:
#Real Estate

real_estate = real_estate.astype({"ParentCode": 'Int64', "Code":'Int64', 'Ada':'Int64', 'Parsel':'Int64'})
real_estate.head()

,Type,Code,ParentCode,Region,LocName,Hiyerarşi,City,FID,Ada,Parsel,TabanAlanı,ToplamİnşaatAlanı
1,0BIN,90000320,90000304,7.BÖLGE,GAR BINASI,90000304-90000320,AFYONKARAHISAR,bina.1321,0,430,228,329.0
16,SNDRMA,90000385,90000304,7.BÖLGE,SUNDURMA,90000304-90000385,AFYONKARAHISAR,NaN,<NA>,<NA>,NaN,NaN
17,ALMNTSYON,90000398,90000304,7.BÖLGE,SU KULESI,90000304-90000398,AFYONKARAHISAR,bina.1324,0,430,34,34.0
20,0BIN,90000403,90000304,7.BÖLGE,WC BINASI,90000304-90000403,AFYONKARAHISAR,bina.1308,0,430,15,15.0
24,0BIN,90000407,90000304,7.BÖLGE,TRAFO BINASI,90000304-90000407,AFYONKARAHISAR,bina.1316,0,430,18,18.0

In [260]:
deed_id = deed_city_fid[["FID"]]
deed_id.index += 1
deed_id.reset_index(inplace=True, names=["deed_id"])
deed_id.head()

   deed_id        FID
0        1  bina.1321
1        2  bina.1324
2        3  bina.1308
3        4  bina.1316
4        5  bina.1323

In [261]:
real_estate_deed = real_estate.merge(deed_id, left_on="FID", right_on="FID", how="left")
real_estate_deed = real_estate_deed.astype({"deed_id": 'Int64'})
real_estate_deed.drop(columns=["FID"], inplace=True)
real_estate_deed.head()

,Type,Code,ParentCode,Region,LocName,Hiyerarşi,City,Ada,Parsel,TabanAlanı,ToplamİnşaatAlanı,deed_id
0,0BIN,90000320,90000304,7.BÖLGE,GAR BINASI,90000304-90000320,AFYONKARAHISAR,0,430,228,329.0,1
1,SNDRMA,90000385,90000304,7.BÖLGE,SUNDURMA,90000304-90000385,AFYONKARAHISAR,<NA>,<NA>,NaN,NaN,<NA>
2,ALMNTSYON,90000398,90000304,7.BÖLGE,SU KULESI,90000304-90000398,AFYONKARAHISAR,0,430,34,34.0,2
3,0BIN,90000403,90000304,7.BÖLGE,WC BINASI,90000304-90000403,AFYONKARAHISAR,0,430,15,15.0,3
4,0BIN,90000407,90000304,7.BÖLGE,TRAFO BINASI,90000304-90000407,AFYONKARAHISAR,0,430,18,18.0,4

In [262]:
cities=["Adana", "Adıyaman", "Afyonkarahisar", "Agri", "Amasya", "Ankara", "Antalya", "Artvin", "Aydın", "Balikesir", "Bilecik", "Bingöl", "Bitlis", "Bolu", "Burdur", "Bursa", "Canakkale", "Cankırı", "Corum", "Denizli", "Diyarbakir", "Edirne", "Elazıg", "Erzincan", "Erzurum", "Eskisehir", "Gaziantep", "Giresun", "Gümüshane", "Hakkari", "Hatay", "Isparta", "icel (Mersin)", "istanbul", "izmir", "Kars", "Kastamonu", "Kayseri", "Kirklareli", "Kirşehir", "Kocaeli", "Konya", "Kutahya", "Malatya", "Manisa", "Kahramanmaras", "Mardin", "Mugla", "Mus", "Nevsehir", "Nigde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdag", "Tokat", "Trabzon", "Tunceli", "Sanlıurfa", "Usak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kirikkale", "Batman", "Sirnak", "Bartın", "Ardahan", "Igdır", "Yalova", "Karabük", "Kilis", "Osmaniye", "Düzce"
]

cities = {'Name': cities}
cities = pd.DataFrame(cities)
cities.index += 1

cities.reset_index(inplace=True)
cities = cities.rename(columns = {'index':'city_id'})
cities["Name"] = cities["Name"].str.lower().str.upper()
cities.head()

   city_id            Name
0        1           ADANA
1        2        ADIYAMAN
2        3  AFYONKARAHISAR
3        4            AGRI
4        5          AMASYA

In [263]:
#Type_Spec
typ = emlakverileri[["Type"]].drop_duplicates()
typ = typ.reset_index()
typ = typ[["Type"]]
typ = typ.rename(columns={'Type': 'name'})
typ.index += 1
typ.reset_index(inplace=True, names="type_spec_id")
typ.head()

   type_spec_id    name
0             1    0IST
1             2    0BIN
2             3     KAT
3             4    OFIS
4             5  KMRLUK

In [264]:
regions = emlakverileri["Region"].unique()
regions = {'name': regions}
regions = pd.DataFrame(regions)
regions.loc[len(regions.index)] = ['5.BÖLGE'] 
regions = regions.sort_values(by=['name']).dropna()
regions.reset_index(inplace=True)
regions = regions[["name"]]
regions.index += 1
regions.reset_index(inplace=True, names=["region_id"])

regions

   region_id           name
0          1        1.BÖLGE
1          2        2.BÖLGE
2          3        3.BÖLGE
3          4        4.BÖLGE
4          5        5.BÖLGE
5          6        6.BÖLGE
6          7        7.BÖLGE
7          8  8.BÖLGE (YHT)
8          9    BASKENT RAY

In [265]:
real_estate_full = real_estate_deed\
                   .merge(cities, left_on="City", right_on="Name", how="left")\
                   .drop(columns=["City","Name"])\
                   .astype({"city_id": 'Int64'})\
                   .merge(typ, left_on="Type", right_on="name", how="left")\
                   .drop(columns=["Type","name"])\
                   .merge(regions, left_on="Region", right_on="name", how="left")\
                   .drop(columns=["Region","name"])\
                   .astype({"region_id": 'Int64'})\
                   .rename(columns={'Code': 'ref_code', 'LocName':'name', 'Ada':'ada', 
                                    'Parsel':'parsel', 'TabanAlanı':'net_area', 'ToplamİnşaatAlanı':'gross_area',
                                   'index':'region_id'})\
                   .drop(columns=["ParentCode","Hiyerarşi"])

real_estate_full.index += 1
real_estate_full.loc[real_estate_full["net_area"] == '1.752.70', "net_area"] = 1752.70
real_estate_full = real_estate_full.astype({"net_area": 'float'})

real_estate_full.head()

,ref_code,name,ada,parsel,net_area,gross_area,deed_id,city_id,type_spec_id,region_id
1,90000320,GAR BINASI,0,430,228.0,329.0,1,3,2,7
2,90000385,SUNDURMA,<NA>,<NA>,NaN,NaN,<NA>,3,11,7
3,90000398,SU KULESI,0,430,34.0,34.0,2,3,12,7
4,90000403,WC BINASI,0,430,15.0,15.0,3,3,2,7
5,90000407,TRAFO BINASI,0,430,18.0,18.0,4,3,2,7

In [266]:
real_estate_full.to_sql('real_estate',con=engine, if_exists='append', index_label='id')

818

In [267]:
real_estate_ref_code = real_estate_full[["ref_code"]].reset_index(names="real_estate_id")
real_estate_ref_code = real_estate_ref_code.rename(columns={'ref_code': 'ref_code_real_estate'})

independent_section_full = independent_section\
                           .merge(cities, left_on="City", right_on="Name", how="left")\
                           .drop(columns=["City","Name"])\
                           .astype({"city_id": 'Int64'})\
                           .merge(typ, left_on="Type", right_on="name", how="left")\
                           .drop(columns=["Type","name"])\
                           .merge(regions, left_on="Region", right_on="name", how="left")\
                           .drop(columns=["Region","name"])\
                           .astype({"region_id": 'Int64', "ParentCode":'Int64'})\
                           .rename(columns={'Code': 'ref_code', 'LocName':'name', 'Ada':'ada', 
                                    'Parsel':'parsel', 'TabanAlanı':'net_area', 'ToplamİnşaatAlanı':'gross_area',
                                   'index':'region_id', 'Hiyerarşi':'real_estate_code'})

independent_section_full["real_estate_code"] = independent_section_full["real_estate_code"].str.slice(start=9, stop=17)


independent_section_full = independent_section_full\
                           .astype({"real_estate_code": 'Int64'})\
                           .merge(real_estate_ref_code, left_on="real_estate_code", right_on="ref_code_real_estate", how="left")\
                           .drop(columns=["ref_code_real_estate"])


independent_section_full.index += 1
independent_section_full.reset_index(inplace=True, names='parent_id')


independent_section_full = independent_section_full\
                           .merge(independent_section_full[["parent_id","ref_code"]], left_on="ParentCode", right_on="ref_code", how="left")\
                           .drop(columns=["city_id","parent_id_x", "ParentCode","real_estate_code","FID","ref_code_y","ada","parsel"])\
                           .rename(columns={'ref_code_x': 'ref_code', 'parent_id_y':'parent_id'})\
                           .astype({"parent_id": 'Int64'})\

independent_section_full.index += 1


independent_section_full.head(20)

,ref_code,name,net_area,gross_area,type_spec_id,region_id,real_estate_id,parent_id
1,90000194,KAT: 1,NaN,NaN,3,7,1,<NA>
2,90000188,YEDEK OFIS,NaN,NaN,4,7,1,1
3,90000380,YEDEK OFIS,NaN,NaN,4,7,1,1
4,90000396,YEDEK OFIS,NaN,NaN,4,7,1,1
5,90000491,KAT: ZEMIN,NaN,NaN,3,7,1,<NA>
6,90000185,KOMURLUK,NaN,NaN,5,7,1,5
7,90000376,MAKASCI ODASI,NaN,NaN,6,7,1,5
8,90000377,KORIDOR,NaN,NaN,7,7,1,5
9,90000378,MUTFAK,NaN,NaN,8,7,1,5
10,90000379,KAZAN DAIRESI,NaN,NaN,9,7,1,5
11,90000381,ORTAK WC,NaN,NaN,10,7,1,5
12,90000382,ORTAK WC,NaN,NaN,10,7,1,5
13,90000383,GAR SEFLIGI OFISI,NaN,NaN,4,7,1,5
14,90000384,HAREKET MEMURLUGU OFISI,NaN,NaN,4,7,1,5
15,90000402,KAT: ZEMIN,NaN,NaN,3,7,3,<NA>
16,90000399,ALIMANTASYON,NaN,NaN,12,7,3,15
17,90000404,KAT: ZEMIN,NaN,NaN,3,7,4,<NA>
18,90000405,BAY WC,NaN,NaN,10,7,4,17
19,90000406,BAYAN WC,NaN,NaN,10,7,4,17
20,90000409,KAT: ZEMIN,NaN,NaN,3,7,6,<NA>

In [268]:
independent_section_full.to_sql('independent_section',con=engine, if_exists='append', index_label='id')

168

In [212]:
indeneme = independent_section_full
indeneme.reset_index(inplace=True)
indeneme.head()

,index,ref_code,name,ada,parsel,net_area,gross_area,city_id,type_spec_id,region_id,real_estate_id,parent_id
0,1,90000194,KAT: 1,NaN,NaN,NaN,NaN,3,3,6,1,<NA>
1,2,90000188,YEDEK OFIS,NaN,NaN,NaN,NaN,3,4,6,1,1
2,3,90000380,YEDEK OFIS,NaN,NaN,NaN,NaN,3,4,6,1,1
3,4,90000396,YEDEK OFIS,NaN,NaN,NaN,NaN,3,4,6,1,1
4,5,90000491,KAT: ZEMIN,NaN,NaN,NaN,NaN,3,3,6,1,<NA>

In [213]:
indeneme[indeneme["parent_id"] > indeneme["index"]]

Empty DataFrame
Columns: [index, ref_code, name, ada, parsel, net_area, gross_area, city_id, type_spec_id, region_id, real_estate_id, parent_id]
Index: []

In [674]:
merged.to_sql('independent_section',con=engine, if_exists='append', index=False)

327

In [583]:
locs = merged_with_id[merged_with_id["parent_id"] > merged_with_id["id"]].index
paren = merged_with_id.drop(locs)
paren[paren["parent_id"]>paren["id"]]

Empty DataFrame
Columns: [id, name, type_spec_id, parent_id, region_id, ref_code]
Index: []

In [570]:
merged_with_id.dtypes

id               int64
name            object
type_spec_id     int64
parent_id        Int64
region_id        Int64
ref_code        object
dtype: object

In [640]:
merged.iloc[[19380]]

                      name  type_spec_id  parent_id  region_id  ref_code
19388  CER POSTA AKU ODASI            54      19387          2  90005046

In [6]:
emlakverileri = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/emlakverileri.xlsx');
emlakverileri.head()

/Users/aliosmanyilmaz/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Web Extension extension is not supported and will be removed
  for idx, row in parser.parse():

,LocID,User,Project,Part,Lat,Long,Start,Stop,Facility Code,Hiyerarşi,...,Sütun7,HType,LStatus,PicInfo,LastFlag,LastTS,Region,Code8,Sütun8,Sütun9
0,20470,102,TCDD,FAZ-1,38.077677,30.208332,30/04/2021 13:41:41,30/04/2021 13:43:43,90000304,90000304,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-102-20210430134141,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
1,20471,101,TCDD,FAZ-1,38.077677,30.208332,30/04/2021 13:41:41,30/04/2021 13:47:47,90000304,90000304-90000320,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430134141,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
2,20485,101,TCDD,FAZ-1,38.07752252,30.2082382,30/04/2021 14:40:40,30/04/2021 14:50:50,90000304,90000304-90000320-90000194,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430144040,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
3,20488,101,TCDD,FAZ-1,38.0776306666667,30.2079466666667,30/04/2021 14:51:51,30/04/2021 14:52:52,90000304,90000304-90000320-90000194-90000188,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430145151,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
4,20487,101,TCDD,FAZ-1,38.0776306666667,30.2079466666667,30/04/2021 14:50:50,30/04/2021 14:51:51,90000304,90000304-90000320-90000194-90000380,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430145050,NaN,NaN,7.BÖLGE,NaN,NaN,NaN

In [51]:
#Deed ekle
deed = emlakverileri[["Ada", "Parsel", "City", "TabanAlanı", "ToplamİnşaatAlanı", "FID"]]

In [52]:
deed = deed[deed["FID"].notna()]
deed = deed.rename(columns={'Ada': 'ada','Parsel': 'parsel','TabanAlanı': 'net_area','ToplamİnşaatAlanı': 'gross_area'})
deed.loc[deed["net_area"] == '1.752.70', "net_area"] = 1752.70
deed.head()

    ada  parsel            City net_area  gross_area        FID
1   0.0   430.0  AFYONKARAHISAR      228       329.0  bina.1321
17  0.0   430.0  AFYONKARAHISAR       34        34.0  bina.1324
20  0.0   430.0  AFYONKARAHISAR       15        15.0  bina.1308
24  0.0   430.0  AFYONKARAHISAR       18        18.0  bina.1316
25  0.0   430.0  AFYONKARAHISAR      129       129.0  bina.1323

In [53]:
cities=["Adana", "Adıyaman", "Afyonkarahisar", "Agri", "Amasya", "Ankara", "Antalya", "Artvin", "Aydın", "Balikesir", "Bilecik", "Bingöl", "Bitlis", "Bolu", "Burdur", "Bursa", "Canakkale", "Cankırı", "Corum", "Denizli", "Diyarbakir", "Edirne", "Elazıg", "Erzincan", "Erzurum", "Eskisehir", "Gaziantep", "Giresun", "Gümüshane", "Hakkari", "Hatay", "Isparta", "icel (Mersin)", "istanbul", "izmir", "Kars", "Kastamonu", "Kayseri", "Kirklareli", "Kirşehir", "Kocaeli", "Konya", "Kutahya", "Malatya", "Manisa", "Kahramanmaras", "Mardin", "Mugla", "Mus", "Nevsehir", "Nigde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdag", "Tokat", "Trabzon", "Tunceli", "Sanlıurfa", "Usak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kirikkale", "Batman", "Sirnak", "Bartın", "Ardahan", "Igdır", "Yalova", "Karabük", "Kilis", "Osmaniye", "Düzce"
]

cities = {'Name': cities}
cities = pd.DataFrame(cities)
cities.index += 1

cities.reset_index(inplace=True)
cities = cities.rename(columns = {'index':'city_id'})
cities["Name"] = cities["Name"].str.lower().str.upper()
cities

    city_id            Name
0         1           ADANA
1         2        ADIYAMAN
2         3  AFYONKARAHISAR
3         4            AGRI
4         5          AMASYA
..      ...             ...
76       77          YALOVA
77       78         KARABÜK
78       79           KILIS
79       80        OSMANIYE
80       81           DÜZCE

[81 rows x 2 columns]

In [59]:
deed_city = deed.merge(cities, left_on="City", right_on="Name", how="left")
deed_city = deed_city.astype({"ada": 'Int64',"parsel": 'Int64',"city_id": 'Int64', 'net_area':'float'})
deed_city_fid = deed_city.drop(['City','Name'], axis=1)
deed_city = deed_city_fid.drop("FID", axis=1)
deed_city.index += 1
deed_city

      ada  parsel  net_area  gross_area  city_id
1       0     430     228.0       329.0        3
2       0     430      34.0        34.0        3
3       0     430      15.0        15.0        3
4       0     430      18.0        18.0        3
5       0     430     129.0       129.0        3
...   ...     ...       ...         ...      ...
1157  102       1       0.0        60.0       67
1158  102       1       0.0        20.0       67
1159  102       1       0.0       150.0       67
1160  102       1       0.0       175.0       67
1161  107       3       0.0        50.0       67

[1161 rows x 5 columns]

In [115]:
deed_city.dtypes

ada             Int64
parsel          Int64
net_area      float64
gross_area    float64
city_id         Int64
dtype: object

In [116]:
deed_city.to_sql('deed',con=engine, if_exists='append', index_label='id')

161