In [1]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [2]:
engine = create_engine("postgresql://postgres:manager@10.0.6.3:5432/cbs", connect_args={'options': '-csearch_path={}'.format('cbs_emlak')})

In [3]:
con = engine.connect()

In [ ]:
engine.table_names()

In [4]:
emlakverileri = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/emlakverileri.xlsx');
emlakverileri.head()

/Users/aliosmanyilmaz/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Web Extension extension is not supported and will be removed
  for idx, row in parser.parse():

,LocID,User,Project,Part,Lat,Long,Start,Stop,Facility Code,Hiyerarşi,...,Sütun7,HType,LStatus,PicInfo,LastFlag,LastTS,Region,Code8,Sütun8,Sütun9
0,20470,102,TCDD,FAZ-1,38.077677,30.208332,30/04/2021 13:41:41,30/04/2021 13:43:43,90000304,90000304,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-102-20210430134141,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
1,20471,101,TCDD,FAZ-1,38.077677,30.208332,30/04/2021 13:41:41,30/04/2021 13:47:47,90000304,90000304-90000320,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430134141,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
2,20485,101,TCDD,FAZ-1,38.07752252,30.2082382,30/04/2021 14:40:40,30/04/2021 14:50:50,90000304,90000304-90000320-90000194,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430144040,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
3,20488,101,TCDD,FAZ-1,38.0776306666667,30.2079466666667,30/04/2021 14:51:51,30/04/2021 14:52:52,90000304,90000304-90000320-90000194-90000188,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430145151,NaN,NaN,7.BÖLGE,NaN,NaN,NaN
4,20487,101,TCDD,FAZ-1,38.0776306666667,30.2079466666667,30/04/2021 14:50:50,30/04/2021 14:51:51,90000304,90000304-90000320-90000194-90000380,...,NaN,T-TCDD,FAAL,LO-TCDD-FAZ-1-101-20210430145050,NaN,NaN,7.BÖLGE,NaN,NaN,NaN

In [5]:
#Şehirleri sql'e ekle

cities=["Adana", "Adiyaman", "Afyonkarahisar", "Agri", "Amasya", "Ankara", "Antalya", "Artvin", "Aydin", "Balikesir", "Bilecik", "Bingol", "Bitlis", "Bolu", "Burdur", "Bursa", "Canakkale", "Cankiri", "Corum", "Denizli", "Diyarbakir", "Edirne", "Elazig", "Erzincan", "Erzurum", "Eskisehir", "Gaziantep", "Giresun", "Gümüshane", "Hakkari", "Hatay", "isparta", "icel (Mersin)", "istanbul", "izmir", "Kars", "Kastamonu", "Kayseri", "Kirklareli", "Kirsehir", "Kocaeli", "Konya", "Kutahya", "Malatya", "Manisa", "Kahramanmaras", "Mardin", "Mugla", "Mus", "Nevsehir", "Nigde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdag", "Tokat", "Trabzon", "Tunceli", "Sanliurfa", "Usak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kirikkale", "Batman", "Sirnak", "Bartin", "Ardahan", "igdir", "Yalova", "Karabuk", "Kilis", "Osmaniye", "Duzce"
]

cities = {'Name': cities}
cities = pd.DataFrame(cities)
cities.index += 1
cities["Name"] = cities["Name"].str.upper()
cities.head()

             Name
1           ADANA
2        ADIYAMAN
3  AFYONKARAHISAR
4            AGRI
5          AMASYA

In [312]:
cities.to_sql('city',con=engine, if_exists='append', index_label='id')

81

In [6]:
#Regionları ekle

regions = emlakverileri["Region"].unique()
regions = {'name': regions}
regions = pd.DataFrame(regions)
regions.loc[len(regions.index)] = ['5.BÖLGE'] 
regions = regions.sort_values(by=['name']).dropna()
regions.reset_index(inplace=True)
regions = regions[["name"]]
regions.index += 1

regions

            name
1        1.BÖLGE
2        2.BÖLGE
3        3.BÖLGE
4        4.BÖLGE
5        5.BÖLGE
6        6.BÖLGE
7        7.BÖLGE
8  8.BÖLGE (YHT)
9    BASKENT RAY

In [106]:
regions.to_sql('region',con=engine, if_exists='append', index_label='id')

9

In [7]:
ilceler = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/il_ilceler.xlsx',sheet_name='Ilceler');
ilceler.index += 1

In [ ]:
ilceler.to_sql('district',con=engine, if_exists='append', index=False)

In [8]:
ilceler = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/il_ilceler.xlsx',sheet_name='Ilceler');
ilceler = ilceler[["Name", "id"]]
ilceler["Name"] = ilceler["Name"].str.strip()
ilceler.index += 1
ilceler.head()

        Name  id
1     Seyhan   1
2     Ceyhan   2
3       Feke   3
4  Karaisalı   4
5    Karataş   5

In [9]:
mahalle = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/mahalle.xlsx');
mahalle.index += 1
mahalle["Name"] = mahalle["Name"].str.title()
mahalle = mahalle[["Name", "MAHALLE"]]
mahalle["Name"] = mahalle["Name"].str.strip()
mahalle = pd.merge(mahalle,ilceler,on='Name')
mahalle = mahalle[["MAHALLE", "id"]]
mahalle = mahalle.rename(columns={'MAHALLE': 'name', 'id': 'district_id'})
mahalle.index += 1
mahalle.head()

                                                name  district_id
1  AKPINAR MAH                                   ...           12
2  BAŞPINAR MAH                                  ...           12
3  MANSURLU MAH                                  ...           12
4  SİNANPAŞA MAH                                 ...           12
5  AKÖREN MAH                                    ...           12

In [92]:
mahalle.to_sql('neighbourhood',con=engine, if_exists='append', index_label='id')

66

In [10]:

cities=["Adana", "Adiyaman", "Afyonkarahisar", "Agri", "Amasya", "Ankara", "Antalya", "Artvin", "Aydin", "Balikesir", "Bilecik", "Bingol", "Bitlis", "Bolu", "Burdur", "Bursa", "Canakkale", "Cankiri", "Corum", "Denizli", "Diyarbakir", "Edirne", "Elazig", "Erzincan", "Erzurum", "Eskisehir", "Gaziantep", "Giresun", "Gümüshane", "Hakkari", "Hatay", "isparta", "icel (Mersin)", "istanbul", "izmir", "Kars", "Kastamonu", "Kayseri", "Kirklareli", "Kirsehir", "Kocaeli", "Konya", "Kutahya", "Malatya", "Manisa", "Kahramanmaras", "Mardin", "Mugla", "Mus", "Nevsehir", "Nigde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdag", "Tokat", "Trabzon", "Tunceli", "Sanliurfa", "Usak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kirikkale", "Batman", "Sirnak", "Bartin", "Ardahan", "igdir", "Yalova", "Karabuk", "Kilis", "Osmaniye", "Duzce"
]

cities = {'Name': cities}
cities = pd.DataFrame(cities)
cities.index += 1

cities.reset_index(inplace=True)
cities = cities.rename(columns = {'index':'city_id'})
cities["Name"] = cities["Name"].str.lower().str.upper()
cities

    city_id            Name
0         1           ADANA
1         2        ADIYAMAN
2         3  AFYONKARAHISAR
3         4            AGRI
4         5          AMASYA
..      ...             ...
76       77          YALOVA
77       78         KARABUK
78       79           KILIS
79       80        OSMANIYE
80       81           DUZCE

[81 rows x 2 columns]

In [11]:
regions = emlakverileri["Region"].unique()
regions = {'name': regions}
regions = pd.DataFrame(regions)
regions.loc[len(regions.index)] = ['5.BÖLGE'] 
regions = regions.sort_values(by=['name']).dropna()
regions.reset_index(inplace=True)
regions = regions[["name"]]
regions.index += 1
regions.reset_index(inplace=True, names='region_id')

regions

   region_id           name
0          1        1.BÖLGE
1          2        2.BÖLGE
2          3        3.BÖLGE
3          4        4.BÖLGE
4          5        5.BÖLGE
5          6        6.BÖLGE
6          7        7.BÖLGE
7          8  8.BÖLGE (YHT)
8          9    BASKENT RAY

In [12]:
#region_city

region_city = emlakverileri[["City", "Region"]]\
              .drop_duplicates().dropna()\
              .reset_index()\
              .drop(columns=["index"])\
              .merge(cities, left_on="City", right_on="Name", how="left")\
              .merge(regions, left_on="Region", right_on="name", how="left")\
              .drop(columns=["City","Name","Region","name"])

region_city.head()

   city_id  region_id
0        3          7
1        6          2
2        6          9
3        6          8
4       10          7

In [326]:
region_city.to_sql('region_city',con=engine, if_exists='append', index_label='id')

33

In [13]:
#Type_Spec
typ = emlakverileri[["Type"]].drop_duplicates()
typ = typ.reset_index()
typ = typ[["Type"]]
typ = typ.rename(columns={'Type': 'name'})
typ.index += 1

typ.head()

     name
1    0IST
2    0BIN
3     KAT
4    OFIS
5  KMRLUK

In [44]:
typ.to_sql('type_spec',con=engine, if_exists='append', index_label='id')

144

In [14]:
emlakverileri = pd.read_excel(r'/Users/aliosmanyilmaz/Downloads/emlakverileri.xlsx');

/Users/aliosmanyilmaz/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Web Extension extension is not supported and will be removed
  for idx, row in parser.parse():

In [15]:
building = emlakverileri[["Type", "Code", "ParentCode", "Region", "LocName","Hiyerarşi","City","FID","Ada","Parsel","TabanAlanı","ToplamİnşaatAlanı"]]
building.dtypes

campus = building[building["Hiyerarşi"].str.len() == 8]
real_estate = building[building["Hiyerarşi"].str.len() == 17]
independent_section = building[building["Hiyerarşi"].str.len() > 17]

deed = emlakverileri[["Ada", "Parsel", "City", "TabanAlanı", "ToplamİnşaatAlanı", "FID"]]

campus = campus[["Region", "LocName"]]

campus.head()

      Region           LocName
0    7.BÖLGE    KARAKUYU TESIS
45   7.BÖLGE  CAPALI TREN GARI
58   7.BÖLGE         TINAZTEPE
104  7.BÖLGE        YESILHUYUK
112  7.BÖLGE   SUTLAC ISTASYON

In [16]:
cities=["Adana", "Adiyaman", "Afyonkarahisar", "Agri", "Amasya", "Ankara", "Antalya", "Artvin", "Aydin", "Balikesir", "Bilecik", "Bingol", "Bitlis", "Bolu", "Burdur", "Bursa", "Canakkale", "Cankiri", "Corum", "Denizli", "Diyarbakir", "Edirne", "Elazig", "Erzincan", "Erzurum", "Eskisehir", "Gaziantep", "Giresun", "Gümüshane", "Hakkari", "Hatay", "isparta", "icel (Mersin)", "istanbul", "izmir", "Kars", "Kastamonu", "Kayseri", "Kirklareli", "Kirsehir", "Kocaeli", "Konya", "Kutahya", "Malatya", "Manisa", "Kahramanmaras", "Mardin", "Mugla", "Mus", "Nevsehir", "Nigde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdag", "Tokat", "Trabzon", "Tunceli", "Sanliurfa", "Usak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kirikkale", "Batman", "Sirnak", "Bartin", "Ardahan", "igdir", "Yalova", "Karabuk", "Kilis", "Osmaniye", "Duzce"
]

cities = {'Name': cities}
cities = pd.DataFrame(cities)
cities.index += 1

cities.reset_index(inplace=True)
cities = cities.rename(columns = {'index':'city_id'})
cities["Name"] = cities["Name"].str.lower().str.upper()
cities.head()

   city_id            Name
0        1           ADANA
1        2        ADIYAMAN
2        3  AFYONKARAHISAR
3        4            AGRI
4        5          AMASYA

In [17]:
regions = emlakverileri["Region"].unique()
regions = {'name': regions}
regions = pd.DataFrame(regions)
regions.loc[len(regions.index)] = ['5.BÖLGE'] 

regions = regions\
          .sort_values(by=['name'])\
          .dropna()\
          .reset_index(drop=True)

regions.index += 1
regions.reset_index(inplace=True, names='region_id')

regions

   region_id           name
0          1        1.BÖLGE
1          2        2.BÖLGE
2          3        3.BÖLGE
3          4        4.BÖLGE
4          5        5.BÖLGE
5          6        6.BÖLGE
6          7        7.BÖLGE
7          8  8.BÖLGE (YHT)
8          9    BASKENT RAY

In [18]:
#Type_Spec
typ = emlakverileri[["Type"]]\
      .drop_duplicates()\
      .reset_index(drop=True)\
      .rename(columns={'Type': 'name'})
typ.index += 1
typ.reset_index(inplace=True, names="type_spec_id")
typ.head()

   type_spec_id    name
0             1    0IST
1             2    0BIN
2             3     KAT
3             4    OFIS
4             5  KMRLUK

In [19]:
deed_city_fid = deed[deed["FID"].notna()]\
               .rename(columns={'Ada': 'ada','Parsel': 'parsel','TabanAlanı': 'net_area','ToplamİnşaatAlanı': 'gross_area'})\
               .merge(cities, left_on="City", right_on="Name", how="left")\
               .astype({"ada": 'Int64',"parsel": 'Int64',"city_id": 'Int64', 'net_area':'float'})\
               .drop(['City','Name'], axis=1)

deed_city = deed_city_fid.drop("FID", axis=1)
deed_city.index += 1
deed_city.head()

   ada  parsel  net_area  gross_area  city_id
1    0     430     228.0       329.0        3
2    0     430      34.0        34.0        3
3    0     430      15.0        15.0        3
4    0     430      18.0        18.0        3
5    0     430     129.0       129.0        3

In [344]:
deed_city.to_sql('deed',con=engine, if_exists='append', index_label='id')

161

In [20]:
#Campus
campus_region = campus.merge(regions, left_on="Region", right_on="name", how="left")\
                .drop(columns=["Region","name"])\
                .rename(columns={'LocName': 'name','index': 'region_id'})
campus_region.index += 1
campus_region.head()

               name  region_id
1    KARAKUYU TESIS          7
2  CAPALI TREN GARI          7
3         TINAZTEPE          7
4        YESILHUYUK          7
5   SUTLAC ISTASYON          7

In [111]:
campus_region.to_sql('campus',con=engine, if_exists='append', index_label='id')

359

In [21]:
deed_id = deed_city_fid[["FID"]]
deed_id.index += 1
deed_id.reset_index(inplace=True, names=["deed_id"])
deed_id.head()

   deed_id        FID
0        1  bina.1321
1        2  bina.1324
2        3  bina.1308
3        4  bina.1316
4        5  bina.1323

In [22]:
#Real Estate

real_estate_full = real_estate\
                   .astype({"ParentCode": 'Int64', "Code":'Int64', 'Ada':'Int64', 'Parsel':'Int64', 'TabanAlanı':'float'})\
                   .merge(deed_id, left_on="FID", right_on="FID", how="left")\
                   .astype({"deed_id": 'Int64'})\
                   .drop(columns=["FID"])\
                   .merge(cities, left_on="City", right_on="Name", how="left")\
                   .drop(columns=["City","Name"])\
                   .astype({"city_id": 'Int64'})\
                   .merge(typ, left_on="Type", right_on="name", how="left")\
                   .drop(columns=["Type","name"])\
                   .merge(regions, left_on="Region", right_on="name", how="left")\
                   .drop(columns=["Region","name"])\
                   .astype({"region_id": 'Int64'})\
                   .rename(columns={'Code': 'ref_code', 'LocName':'name', 'Ada':'ada', 
                                    'Parsel':'parsel', 'TabanAlanı':'net_area', 'ToplamİnşaatAlanı':'gross_area',
                                   'index':'region_id'})\
                   .drop(columns=["ParentCode","Hiyerarşi"])

real_estate_full.index += 1

real_estate_full.head()

,ref_code,name,ada,parsel,net_area,gross_area,deed_id,city_id,type_spec_id,region_id
1,90000320,GAR BINASI,0,430,228.0,329.0,1,3,2,7
2,90000385,SUNDURMA,<NA>,<NA>,NaN,NaN,<NA>,3,11,7
3,90000398,SU KULESI,0,430,34.0,34.0,2,3,12,7
4,90000403,WC BINASI,0,430,15.0,15.0,3,3,2,7
5,90000407,TRAFO BINASI,0,430,18.0,18.0,4,3,2,7

In [356]:
real_estate_full.to_sql('real_estate',con=engine, if_exists='append', index_label='id')

818

In [23]:
#Independent Section

real_estate_ref_code = real_estate_full[["ref_code"]].reset_index(names="real_estate_id")
real_estate_ref_code = real_estate_ref_code.rename(columns={'ref_code': 'ref_code_real_estate'})

independent_section_full = independent_section\
                           .merge(cities, left_on="City", right_on="Name", how="left")\
                           .drop(columns=["City","Name"])\
                           .astype({"city_id": 'Int64'})\
                           .merge(typ, left_on="Type", right_on="name", how="left")\
                           .drop(columns=["Type","name"])\
                           .merge(regions, left_on="Region", right_on="name", how="left")\
                           .drop(columns=["Region","name"])\
                           .astype({"region_id": 'Int64', "ParentCode":'Int64'})\
                           .rename(columns={'Code': 'ref_code', 'LocName':'name', 'Ada':'ada', 
                                    'Parsel':'parsel', 'TabanAlanı':'net_area', 'ToplamİnşaatAlanı':'gross_area',
                                   'index':'region_id', 'Hiyerarşi':'real_estate_code'})

independent_section_full["real_estate_code"] = independent_section_full["real_estate_code"].str.slice(start=9, stop=17)


independent_section_full = independent_section_full\
                           .astype({"real_estate_code": 'Int64'})\
                           .merge(real_estate_ref_code, left_on="real_estate_code", right_on="ref_code_real_estate", how="left")\
                           .drop(columns=["ref_code_real_estate"])


independent_section_full.index += 1
independent_section_full.reset_index(inplace=True, names='parent_id')


independent_section_full = independent_section_full\
                           .merge(independent_section_full[["parent_id","ref_code"]], left_on="ParentCode", right_on="ref_code", how="left")\
                           .drop(columns=["city_id","parent_id_x", "ParentCode","real_estate_code","FID","ref_code_y","ada","parsel"])\
                           .rename(columns={'ref_code_x': 'ref_code', 'parent_id_y':'parent_id'})\
                           .astype({"parent_id": 'Int64'})\

independent_section_full.index += 1


independent_section_full.head(20)

,ref_code,name,net_area,gross_area,type_spec_id,region_id,real_estate_id,parent_id
1,90000194,KAT: 1,NaN,NaN,3,7,1,<NA>
2,90000188,YEDEK OFIS,NaN,NaN,4,7,1,1
3,90000380,YEDEK OFIS,NaN,NaN,4,7,1,1
4,90000396,YEDEK OFIS,NaN,NaN,4,7,1,1
5,90000491,KAT: ZEMIN,NaN,NaN,3,7,1,<NA>
6,90000185,KOMURLUK,NaN,NaN,5,7,1,5
7,90000376,MAKASCI ODASI,NaN,NaN,6,7,1,5
8,90000377,KORIDOR,NaN,NaN,7,7,1,5
9,90000378,MUTFAK,NaN,NaN,8,7,1,5
10,90000379,KAZAN DAIRESI,NaN,NaN,9,7,1,5
11,90000381,ORTAK WC,NaN,NaN,10,7,1,5
12,90000382,ORTAK WC,NaN,NaN,10,7,1,5
13,90000383,GAR SEFLIGI OFISI,NaN,NaN,4,7,1,5
14,90000384,HAREKET MEMURLUGU OFISI,NaN,NaN,4,7,1,5
15,90000402,KAT: ZEMIN,NaN,NaN,3,7,3,<NA>
16,90000399,ALIMANTASYON,NaN,NaN,12,7,3,15
17,90000404,KAT: ZEMIN,NaN,NaN,3,7,4,<NA>
18,90000405,BAY WC,NaN,NaN,10,7,4,17
19,90000406,BAYAN WC,NaN,NaN,10,7,4,17
20,90000409,KAT: ZEMIN,NaN,NaN,3,7,6,<NA>

In [358]:
independent_section_full.to_sql('independent_section',con=engine, if_exists='append', index_label='id')

168